<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Client List</title>

    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/clients.css">

</head>
<body>

{% include "navbar.html" %}

<div class="page-container">

    <div class="card">
        <div class="page-title">Client List</div>

        <input type="text" id="searchInput" class="search-box" placeholder="Search client name...">

        <table>
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Name</th>
                    <th>Phone No</th>
                    <th>Created Date</th>
                </tr>
            </thead>
            <tbody id="client-table-body"></tbody>
        </table>
    </div>

</div>

<script src="/static/js/app.js"></script>

</body>
</html>
