<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Subscription</title>

    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/subscriptions.css">
</head>
<body>

{% include "navbar.html" %}

<div class="page-container">
    <div class="card">

        <h2 class="page-title">Create Subscription</h2>

        <form id="subscriptionForm">

            <div class="form-group">
                <label>User ID</label>
                <input type="number" id="user_id" placeholder="Enter User ID" required>
            </div>

            <div class="form-group">
                <label>Service ID</label>
                <input type="number" id="service_id" placeholder="Enter Service ID" required>
            </div>

            <div class="form-group">
                <label>Service Per Year</label>
                <input type="number" id="service_per_year" placeholder="Enter service count per year" required>
            </div>

            <div class="form-group">
                <label>Start Date</label>
                <input type="date" id="start_date" required>
            </div>

            <button type="submit" class="btn-submit">Create Subscription</button>

        </form>

        <div id="responseBox" class="response-box"></div>

    </div>
</div>

<script src="/static/js/subscription.js"></script>

</body>
</html>
