.page-container {
    width: 90%;
    max-width: 1100px;
    margin: 30px auto;
    padding: 20px;
}

.card {
    background: white;
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}

.page-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.search-box {
    width: 300px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    margin-bottom: 20px;
}

.search-box:focus {
    border: 1px solid #007bff;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

thead {
    background-color: #007bff;
    color: white;
}

th {
    padding: 14px;
    text-align: left;
    font-size: 16px;
}

td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
    color: #333;
}

tbody tr:nth-child(even) {
    background-color: #f8f9fa;
}

tbody tr:hover {
    background-color: #e9f3ff;
    cursor: pointer;
    transition: 0.2s;
}
td a {
    color: #007bff;
    font-weight: bold;
    text-decoration: none;
}

td a:hover {
    text-decoration: underline;
}
